html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: rgb(0,0,0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}