.header {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Century Gothic';
}

.header nav li {
    display: inline;
    margin-left: 50px;
}

.header nav li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.header nav li a:hover {

    color: rgb(229, 191, 147);
}

.header nav li a.active {
    color: rgb(220, 173, 118);
}

.header h4 {
    font-size: 20pt;
    color: rgb(220, 173, 118);
}

.login ul li {
    display: inline;
    margin-left: 10px;
    border-right: 1px solid rgb(162, 163, 162);
    padding-right: 15px;

}

.login ul li:last-child {
    border-right: none;
}

.login ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.login ul li a:hover {

    color: rgb(229, 191, 147);

}

.login ul li span {
    color: burlywood;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.login ul li span:hover {
    color: brown;
}

.login ul li.auth a {
    color: rgb(197, 81, 81);
    margin-right: 5px;
    text-decoration: underline;
}

/* monitors and laptops */
@media (min-width: 1240px) {}

/* tablet */
@media (min-width: 1024px) and (max-width: 1240px) {
    .header nav li {
        margin-left: 30px;
    }

    .login ul li {
        margin-left: 7px;
        padding-right: 7px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .header nav li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .header h4 {
        font-size: 20pt;
        padding: 0px;
        margin: 0px;
        margin-bottom: 5px;
    }

    .login ul li {
        display: inline;
        margin-left: 5px;
        padding-right: 15px;
    }
}

/* mobile */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .header nav li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .header h4 {
        font-size: 20pt;
        padding: 0px;
        margin: 0px;
        margin-bottom: 5px;
    }

    .login ul li {
        display: inline;
        margin-left: 5px;
        padding-right: 15px;
    }
}

/* iPad in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) {}

/* iPad in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

/* iPad in portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/* Retina iPad in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}

/* iPad 1 & 2 in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad 1 & 2 in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad 1 & 2 in portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad mini in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad mini in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad mini in portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPhone 5 in portrait & landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) {}

/* iPhone 5 in landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {}

/* iPhone 5 in portrait */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {

    .header h4 {
        font-size: 15pt;
    }

    .header nav li {
        font-size: 15pt;
    }

    .login ul li {
        display: inline;
        margin-left: 5px;
        padding-right: 15px;
        font-size: 15pt;
    }

    .login {
        margin-bottom: 30px;
    }
}

/* iPhone 2G-4S in portrait & landscape */
@media (min-device-width: 320px) and (max-device-width: 480px) {}

/* iPhone 2G-4S in landscape */
@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {}

/* iPhone 2G-4S in portrait */
@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {}