.menuBlock h3{
    width: 300px;
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Century Gothic';
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}